body {
    background-image: url("~/img/back.png");
}
.my_image {
border-radius: 50%;
}
.image {
margin-left: 400px;
margin-top: 40px;
margin-bottom: 20px;
}
.text-box {
    opacity: 0.8;
    padding-top: 40px;
    margin-top: 80px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin-left: 150px;
    text-align: center;
    height: 200px;
}
.about-text-box {
    opacity: 0.8;
    padding-top: 40px;
    margin-top: 80px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin-left: 150px;
    text-align: center;
    height: 350px;
}
.contact {
border: thin;
}
.repo-box {
    opacity: 0.8;
    padding-top: 40px;
    margin-top: 80px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
}