@{
    ViewData["Title"] = "Parul-About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well">
    <i>Discover who I am as a person aside from being a developer</i>
    <h1>MY PASSIONS AND PERSONALITY</h1>

    <div class="container">
        <h3>A few fun facts about myself</h3>
        <p>I love cooking and experimenting with food, I have a daughter, my favourite number is 15, I am a big fan of cartoon shows, I knew what i wanted to do when i am 14 and I love my family.</p>
    </div>

</div>