@{
    ViewData["Title"] = "Parul-Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="well about-text-box">
<i>Lets build something amazing together</i>

    <h1>LET'S HAVE A CHAT</h1>
    <br/><br/>
    <div class="contact">
        <h4>Parul Mishra</h4>
        <h4>Email: parul.mishra78@gmail.com</h4>
        <h4>LinkedIn: https://www.linkedin.com/in/parul-mishra-dubedy/ </h4>
    </div>
</div>