@{
    ViewData["Title"] = "Parul-Repos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Parul_Asp.Net_API.Models.Repo>

<center><div class="well repo-box">
<h1>Most Starred Projects on GiHub</h1>

    @foreach (var repo in Model)
    {
        <hr />
                <h3><strong>Name: </strong> @Html.DisplayFor(modelItem => repo.name)</h3>
                <h3><strong>Url: </strong> @Html.DisplayFor(modelItem => repo.url)</h3>
                <h3><strong>Stars: </strong> @Html.DisplayFor(modelItem => repo.stargazers_count)</h3>
              
    }
    
</div>
</center>