@{
    ViewData["Title"] = "Parul-Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container image">
    <img src="~/img/parul.png" alt="parul_image" class="my_image"/>    
</div>

<div class="well">

 </div>