@{
    ViewData["Title"] = "Parul-Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container image">
    <img src="~/img/parul.png" alt="parul_image" class="my_image"/>    
</div>

<div class="well text">

    A passionate programmer and a over protective mother. Masters in Computer Science with 3 years of experience in Software. Lets

</div>